{% extends 'base.html.twig.html' %}

{% block title %}Nos produits - La boutique francaise{% endblock %}

{% block content %}
                  <h1>Nos produits</h1> 

               
                 
                 <div class="row product-container">
                      
                      
                      {% for product in products %}

                          <div class="col-md-4">

                                <div class="product-item text-center">
                                    <a href=""><img src="uploads/{{product.illustration}}" alt="" class="img-fluid"></a>
                                    <h4>{{product.name}}</h4>
                                    <span class="product-subtitle">{{product.subtitle}}</span>
                                    <span class="product-price">{{product.price}}Euros</span>
                                </div>

                          </div>
                      
                      {% endfor %}


              
                 </div>

{% endblock %}
